 
 .Header{
     height: 60px;
     background-color: #34495e;
     display: flex;
     align-items: space-between;
 }
 .Header li{
     margin:20px;
     list-style: none;
 }
 .Header li a{
    color: white;
    text-decoration: none;
 }