.user {
  width: 810px;
  text-align: center;
  color: #fff;
  margin-top: 25px;
}
.user-card {
  background-color: rgb(28, 52, 61);
  border: 1px solid rgb(101, 179, 252);
}
.user-card button{
  margin: 10px;
  border-radius: 10px;
}
